{% extends "base.html" %}
{% block content %}
<a href="/new/">Новый документ</a>
<p></p>
{{ url }}
<table>
    <thead>
    <tr>
        <!-- <th>Дата</th>
        <th>Сумма на дату</th> -->
        <!--<th>Наименоваие операции</th>
        <th>Код счета Дт</th>
        <th>Наименование счета Дт</th>
        <th>Код счета Кт</th>
        <th>Наименование счета Кт</th>
        <th>Сумма</th> -->
    </tr>
    </thead>

    <tbody>
    {% for operations_date in latest_oper %}

    <tr>
        <td><b>{{ operations_date.dateOper }}</b></td>
        <td><b>{{ operations_date.sum_on_date }}</b></td>
        {% for operations in list_oper_to_date %}
        <tr>
        {% if operations.dateOper == operations_date.dateOper %}
        <td>{{ operations.nameOper }}</td>
        <!-- <td>{{ operations.accDtOper__accountCode }}</td>
        <td>{{ operations.accDtOper__accountName }}</td>
        <td>{{ operations.accKtOper__accountCode }}</td>
        <td>{{ operations.accKtOper__accountName }}</td> -->
        <td>{{ operations.sumOper }}</td>
        {% endif %}
        </tr>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}